.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(48, 55, 58);
  color: white;
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
